/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

/* User profile */

.user-profile-container {
  padding: 10px 20px 20px;
  font-size: 14px;
}

.user-profile-container > * {
  margin: 10px 0;
}